<div>
    <div ng-if="!ctrl.paymentAccount" ng-click="ctrl.createPaymentAccount()">
        Create payment account!
    </div>
    <div ng-if="!!ctrl.paymentAccount" class="paymentaccount">
        <p>Amount: {{ctrl.paymentAccount.amount}}</p>
        <p>Bank-card: {{ctrl.paymentAccount.bankCard}}</p>
    </div>
</div>