<block-dialog>
    <div class="exisistTask-container">
        <div ng-if="!ctrl.changeMode">

            <p><b>Author :</b>{{ctrl.task.author.username}}<button ng-click="ctrl.goToUser(ctrl.task.author)" class="btn btn-info">Show</button></p>
            <p><b>Author email :</b>{{ctrl.task.author.email}}</b></p>
            <p><b>Task title:</b> {{ctrl.task.title}}</p>
            <p><b>Task description :</b>{{ctrl.task.description}}</p>
            <p><b>Task subjecr</b>{{ctrl.task.subject}}</p>
            <p><b>Price:</b>{{ctrl.task.price}}</p>
            <p><b>Estimate: </{{ctrl.task.estimate}}</p>
            <p><b>Date:</b>{{ctrl.task.created_at}}</p>
           
            <a ng-if="ctrl.task.attached" ng-href="{{ctrl.API}}/task/{{ctrl.task.id}}/description" download>
                <button class="btn btn-info">Download desription</button>
            </a>
        </div>


        <div ng-if="ctrl.isMine()" class="exisistTask-buttonHolder">
            <div ng-if="ctrl.changeMode">
                <form name="create-task-form" ng-submit="ctrl.save()">
                    <input type="text" ng-model="ctrl.newTask.title" ng-value="ctrl.newTask.title"/>
                    <input type="text" ng-model="ctrl.newTask.price" ng-value="ctrl.newTask.price"/>
                    <input type="text" ng-model="ctrl.newTask.estimate" ng-value="ctrl.newTask.estimate"/>

                    <select ng-model="ctrl.newTask.subject" ng-value="ctrl.newTask.subject">
                        <option value="math">Mathematics</option>
                        <option value="physics">Physics</option>
                        <option value="languages">Languages</option>
                        <option value="programming">Programming</option>
                    </select>
                    <textarea ng-model="ctrl.newTask.description" ng-value="ctrl.newTask.description"></textarea>
                    <button type="submit" class="btn btn-info">Save</button>
                </form>
            </div>
            <div ng-if="!ctrl.changeMode">
                <div ng-if="ctrl.task.offered">
                    <div ng-if="ctrl.task.employee">
                        <p>Employee name: {{ctrl.task.employee.username}}</p>
                        <p>Employee email: {{ctrl.task.employee.email}}</p>
                        <button ng-click="ctrl.unassignUser()" class="btn btn-info">Unassign task</button>
                    </div>
                    <div ng-if="!ctrl.task.employee" ng-repeat="user in ctrl.task.users">
                        <p>Name: {{user.username}} <button ng-click="ctrl.goToUser(user)" class="btn btn-info">Show</button></p>
                        <a>Email: {{user.email}}</a>
                        <button ng-click="ctrl.acceptUser(user)" class="btn btn-info">Accept</button>
                    </div>
                </div>

                <div ng-if="ctrl.task.attached">
                    <button ng-click="ctrl.deleteDescription()" class="btn btn-info">Delete description</button>
                </div>
                <div ng-if="!ctrl.task.attached">
                    <file-up url="/task/{{ctrl.task.id}}/description" button="Upload description"></file-up>
                </div>

                <div ng-if="ctrl.task.solution">
                    <button ng-click="ctrl.downloadSolution()" class="btn btn-info">Download solution</button>
                    <button ng-click="ctrl.deleteSolution()" class="btn btn-info">Delete solution</button>
                </div>

                <button ng-click="ctrl.change()" class="btn btn-info">Change task</button>
                <button ng-click="ctrl.delete()" class="btn btn-info">Delete task</button>

                <div ng-if="ctrl.task.end_request">
                    <button ng-click="ctrl.endMyTask()" class="btn btn-info">End task tracking</button>
                </div>

            </div>
        </div>

        <div ng-if="!ctrl.isMine()">
            <div ng-if="!(ctrl.task.offered_by_me || ctrl.task.assign_to_me)" class="exisistTask-buttonHolder">
                <button ng-click="ctrl.assign()" class="btn btn-info">Assign to me</button>
            </div>

            <div ng-if="ctrl.task.assign_to_me" class="exisistTask-buttonHolder">
                <button ng-click="ctrl.unassign()" class="btn btn-info">Unassign task</button>

                <div ng-if="ctrl.task.solution">
                    <button ng-click="ctrl.downloadSolution()" class="btn btn-info">Download solution</button>
                    <button ng-click="ctrl.deleteSolution()" class="btn btn-info">Delete solution</button>
                </div>
                <div ng-if="!ctrl.task.solution">
                    <file-up url="/task/{{ctrl.task.id}}/solution" button="Upload solution"></file-up>
                </div>

                <button ng-click="ctrl.done()" class="btn btn-info">Request money</button>
            </div>

            <div ng-if="ctrl.task.offered_by_me" class="exisistTask-buttonHolder">
                <button ng-click="ctrl.unassign()" class="btn btn-info">Refuse</button>
            </div>
        <div>
    </div>

    <notification message="{{ctrl.message}}" ng-if="ctrl.message"></notification>
</block-dialog>
