.tabs{
  margin: 0 auto;
  border-radius: 5px;
  ul {
    display: flex;
    align-items: flex-start;
    li {
      flex-basis: 100%;
      border-top-left-radius: 10px;

    }
    &li:first-child{

    }
    li.active{
      background-color: #94CECB;
      a{
        background-color: #94CECB;
        border: none!important;
      }
    }
    a:first-child{
      border-top-left-radius: 10px!important;
    }

  }
}