<div class="tabs">
	<ul class="nav nav-tabs">
		<li ng-repeat="tab in ctrl.tabs"
			ng-click=ctrl.select(tab)
			ng-class="{active: tab.selected}">
			<a>{{tab.title}}</a>
		</li>
	</ul>
	<ng-transclude></ng-transclude>

</div>