<div class="text-center tab-content sign">
	<h2>Sign In</h2>
	<form name="signin-form" ng-submit="ctrl.signin()">
		<input type="text" name="login" placeholder="Login" ng-model="ctrl.user.username" />
		<input type="password" name="password" placeholder="Password" ng-model="ctrl.user.password"/>

		<button class="btn btn-success" type="submit" >Log In</button>
	</form>
	<notification message="{{ctrl.message}}" ng-if="ctrl.message"></notification>
</div>