.form-group{
  width: 590px;
}
.createClass-title{
  margin: 10px;
  text-align: center;
}
.createTask-form{
  margin: 0 0 10px 10px;

}

.bold-paragraphs{
  font-family: Pacifico;
}
.createTask-input{
  border-width:1px ;
  display: block;
  margin: 10px 0;
  display: inline-block;

}
.first{
  margin-left: 0;
}
.createClass-btn{
  display: block!important;
  margin-bottom: 10px!important;
  margin:auto;
}
.select{
  height: 120px;
  width: 578px;
}