<block-dialog>
    <div class="createTask">
        <p class="createClass-title bold-paragraphs">Create task</p>
        <form name="create-task-form" class="createTask-form">
            <div class="form-group">
                <input class="createTask-input first form-control " type="text" placeholder="Title" ng-model="ctrl.newTask.title"/>
                <input class="createTask-input  form-control" type="text" placeholder="Price" ng-model="ctrl.newTask.price"/>
                <input class="createTask-input  form-control" type="text" placeholder="Estimate" ng-model="ctrl.newTask.estimate"/>

                <select ng-model="ctrl.newTask.subject"
                        ng-init="ctrl.newTask.subject='math'" class="selectpicker form-control createTask-input">
                    <option value="math">Mathematics</option>
                    <option value="physics">Physics</option>
                    <option value="languages">Languages</option>
                    <option value="programming">Programming</option>
                </select>
                <textarea placeholder="Description" ng-model="ctrl.newTask.description" class=" select" ></textarea>

            </div>
        </form>
        <button ng-click="ctrl.create()" class="btn btn-info createClass-btn">Create task</button>
    </div>
</block-dialog>