@font-face {
  font-family:Pacifico;
  src: url(resources/fonts/Pacifico-Regular.tff);
}
@font-face {
  font-family: DancingScript;
  src: url(resources/fonts/DancingScript-Regular.ttf);
}
.form{
  background-color: #F2F2F2;
  padding: 120px 0 100px 0;

  input{
    width: 350px!important;
    height: 35px;
  }
  h1{
    margin-top: 60px;
    font-family: 'Molle', cursive;
  }
}
.time,.ball,.earMoney,.help,.relax{
  margin-left: 50px;
  display: initial;
  width: 310px;
  height: 102px;
  border: 2px solid #A9D9DE;
  border-top:transparent ;
  font-family: Pacifico;
  font-size: 20px;
  border-radius: 2px;
}
.btn{
  font-family: 'Molle', cursive!important;
}
.row{
  margin-right: 0!important;
  padding-left: 0!important;
}