<div>
	<userbar user="ctrl.currentUser"></userbar>
	<div class="form">
		<form name="search-form" ng-submit="ctrl.search()" class="text-center">
			<div class="row">
				<div class="time"><img src="http://www.psychnpsych.com/_assets/images/infographics/stress/clock.gif"  alt="stress">Haven`t enought time?</div>
				<div class="ball"><img src="http://www.psychnpsych.com/_assets/images/infographics/pain/ball-roll.gif"  alt="pain">Want to enjoy daily activities?</div>
				<div class="earMoney"><img src="http://www.psychnpsych.com/_assets/images/infographics/anxiety/head.gif"  height="90px" alt="anxiety">Want to earn some money?</div>
			</div>
			<div class="row" style="margin-top: 60px">
				<div class="help"><img src=http://www.psychnpsych.com/_assets/images/infographics/ptsd/ambulance.gif  height="75px" alt="stress">KPIlance will help you</div>
				<div class="relax"><img src="http://www.psychnpsych.com/_assets/images/infographics/stress/umbrella.png" width="100px" height="80px" alt="stress">Just relax with KPIlance</div>
			</div>
			<h1>KPIlance</h1>
			<input type="text" class="form-control" ng-model="searchValue"/>
			<button type="submit" class="btn btn-info" ng-click="ctrl.search()"><span class="glyphicon glyphicon-search"></span>Search</button>
			<button ng-if="ctrl.currentUser" type="submit" class="btn btn-info" ng-click="ctrl.createTask()"><span class="glyphicon glyphicon-plus"></span>Create task</button>
		</form>
	</div>

	<taskboard></taskboard>

	<ui-view></ui-view>

</div>
