
.sign{
  margin: 50px;
  display: table;
  h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
  }
  form {
    input {
      display: block;
      margin: 10px !important;
      height: 30px;
      width: 200px;
      border-radius: 5px;
    }
  }
}