<div ng-if="!ctrl.succes">
	<div ng-if="!ctrl.uploader.queue.length">
		<input type="file" nv-file-select uploader="ctrl.uploader"/><br/>
		<img  nv-file-drop uploader="ctrl.uploader" src="resources/logos/dropfile.png">
	</div>
	<button ng-if="ctrl.uploader.queue.length" ng-click="ctrl.uploader.uploadAll()" class="btn btn-info">{{ctrl.button}}</button>
	<button ng-if="ctrl.uploader.queue.length" ng-click="ctrl.uploader.clearQueue()" class="btn btn-info">Delete</button>
</div>
<notification message="{{ctrl.message}}" ng-if="ctrl.message"></notification>