<div class="taskitem quote-container" ng-click="ctrl.taskDialog()">
	<i class="pin"></i>
	<div  class="note yellow" ng-class="{offered: ctrl.details.offered || ctrl.details.offered_to_me,
										inprogress: ctrl.details.employee || ctrl.details.assign_to_me,
										solution: ctrl.details.solution}">

		<div class="qwerty">
			<p><b>Title:</b> {{ctrl.details.title}}</p>
			<p><b>Subject:</b> {{ctrl.details.subject}}</p>
			<p><b>Price:</b> {{ctrl.details.price}}</p>
			<p><b>Estimate:</b> {{ctrl.details.estimate}} hours</p>
			<p><b>Date:</b> {{ctrl.details.created_at}}</p>
		</div>
	</div>
</div>