@font-face {
  font-family: NewFont2;
  src: url(resources/fonts/Dekko-Regular.tff);
}
.navbar{
  margin-bottom: 0!important;
  background-color: #6AC6C3;
  color: white;
  li{
    a{
      display: inline-block;
      float: right;
      font-family: NewFont2;
      font-weight: bold;
      color: white;

      span{
        display: inline-block;
        margin: 5px;
        color: white;
      }
    }
    a:hover{
      background-color: transparent!important;
      cursor: pointer;
    }
    }
  }

.navbar-brand{
  text-decoration: none;
  color: white;
  font-family: 'Slabo 27px', serif;
  font-weight: bolder;

  img{
    height: 50px;
  }
}
.navbar-logged{
  height: 52px;
}
.hello-user{
  float: right;
  display: inline-block;
  font-family: 'Aref Ruqaa', serif;
  margin: 14px 10px!important;
  line-height: 3;
}
.logged>a{
  margin: 10px;
  line-height: 2.5;
}
.glyphicon-user{
  font-size: 25px;
  margin: 12px 18px;
}