<div ng-if="!ctrl.user">
	<ul class="nav navbar navbar-fixed-top">
		<a class="navbar-brand" href="#" style="padding-top: 0"><img src="http://cpsm.kpi.ua/images/kpilogo-shields.png"></a>
		<a ng-click="ctrl.goDashboard()" class="navbar-brand">Dashboard</a>
		<li><a ng-click="ctrl.login()"><span class="glyphicon glyphicon-user"></span></a></li>
	</ul>
</div>
<div ng-if="!!ctrl.user">
	<ul class="nav navbar navbar-logged navbar-fixed-top">
		<a class="navbar-brand" href="#" style="padding-top: 0"><img src="http://cpsm.kpi.ua/images/kpilogo-shields.png"></a>
		<a ng-click="ctrl.goDashboard()" class="navbar-brand">Dashboard</a>
		<li class="logged"><a ng-click="ctrl.goAccount()"><span class="glyphicon glyphicon-paperclip"></span>Account</a></li>
		<li class="logged"><a ng-click="ctrl.goTasks()">My tasks</a></li>
    <li class="logged"><a ng-click="ctrl.logout()"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
		<p class="hello-user">Hello {{ctrl.user.username}}</p>
	</ul>
</div>