<div class="user">
	<div ng-if="!ctrl.changeMode">
		<img ng-src="{{ctrl.user.photoUrl}}">
		<p><b>User:</b> {{ctrl.user.username}}</p>
		<p><b>email:</b> {{ctrl.user.email}}</p>
		<p><b>rating:</b> {{ctrl.user.rating}}</p>
	</div>
	<div ng-if="ctrl.changeMode">
		<form name="signup-form" ng-submit="ctrl.save()">
			<p><input type="text" ng-value="ctrl.newUser.username" class="form-control" ng-model="ctrl.newUser.username"/></p>
			<p><input type="text" ng-value="ctrl.newUser.photo_url" class="form-control" ng-model="ctrl.newUser.photo_url"/></p>
			<p><input type="email" ng-value="ctrl.newUser.email" class="form-control" ng-model="ctrl.newUser.email"/></p>
			<button type="submit">Save</button>
		</form>
	</div>

	<p><b>Rating:</b> {{user.rating}}
		<button ng-click="ctrl.increaseRating()" class="btn btn-info like"><span class="glyphicon glyphicon-thumbs-up"></span>Like</button>
		<button ng-click="ctrl.decreaseRating()" class="btn btn-info like"><span class="glyphicon glyphicon-thumbs-down"></span>Dislike</button>
	</p>

	<div ng-if="ctrl.isMine()">
		<button ng-if="!ctrl.changeMode" ng-click="ctrl.change()" class="btn btn-info ">Change</button>
		<button ng-click="ctrl.deleteAccount()" class="btn btn-info">Delete account</button>
	</div>
	<notification message="{{ctrl.message}}" ng-if="ctrl.message"></notification>

</div>