@font-face {
  font-family: "NewFont1";
  src: url("resources/fonts/Mirza-Regular.ttf");
}
.user {

  img {
    width: 30%;
    float: left;
    margin: 0 10px 10px 0px;
  }
  margin: 10px;
}
.like{
  background-color: transparent!important;
  color: black!important;
}