<block-dialog>
    <tabs>
        <tab title="userifno">
            <userinfo user="ctrl.currentUser"></userinfo>
        </tab>
        <tab title="history">
            <history></history>
        </tab>
    </tabs>
</block-dialog>