<div class="text-center tab-content sign">
	<h2>Sign Up</h2>
	<form name="signup-form" ng-submit="ctrl.signup()">
		<input type="text" name="login" placeholder="Login" ng-model="ctrl.user.username"/>
		<input type="email" name="email" placeholder="Email" ng-model="ctrl.user.email"/>
		<input type="password" name="password" placeholder="Password" ng-model="ctrl.user.password"/>
		<input type="password" name="confirmation" placeholder="Confirmation password" ng-model="ctrl.user.password_confirmation"/>
		<button type="submit" class="btn btn-success">Sign Up</button>
	</form>
	<notification message="{{ctrl.message}}" ng-if="ctrl.message"></notification>
</div>
