<block-dialog>
    <tabs>
        <tab title="My tasks">
            <my-taskboard></my-taskboard>
        </tab>
        <tab title="Assign to me">
            <assign-taskboard></assign-taskboard>
        </tab>
    </tabs>
</block-dialog>