<div class="general-container">
	<div class="filter-container">
		<select ng-model="ctrl.subject"
				ng-init="ctrl.subject='all'"
				ng-change="ctrl.update()" class="form-control">
			<option value="all">All</option>
			<option value="math">Mathematics</option>
			<option value="physics">Physics</option>
			<option value="languages">Languages</option>
			<option value="programming">Programming</option>
		</select>
		<select ng-model="ctrl.orderBy"
				ng-init="ctrl.orderBy='price'"
				ng-change="ctrl.update()" class="form-control">
			<option value="created_at">Date</option>
			<option value="price">Price</option>
			<option value="estimate">Estimate</option>
		</select>
	</div>
	<div infinite-scroll="ctrl.loadMore()"
		 infinite-scroll-disabled="ctrl.allContent" class="center task-container">
		<task-item ng-repeat="task in ctrl.tasks" details="task"></task-item>
	</div>
</div>