.blocker {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.6);

}
.dialog {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #CEE9F4;
  border-radius: 15px;
  .closer {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    top: -20px;
    right: -20px;
    font-size: 1.5em;
    background-color: #E0E0E0;
    text-align: center;
    padding-top: 5px;
    z-index: 1032;
    &:hover{
      text-decoration: none;
      color: black;
    }

  }
}